.container-fluid {
  background-color: #bddebb;
  padding: 30px;
}
.hyperlink {
  text-decoration: none !important;
  color: black !important;
}

.nav {
  background: transparent;
}

.card {
  margin: 15px;
  width: 300px;
  max-height: 250px;
  overflow: hidden;
  box-shadow: 0px 0px 0px grey;
  -webkit-transition: box-shadow 0.2s ease-out;
  box-shadow: 0.8px 0.9px 3px grey;
}
.card:hover {
  box-shadow: 1px 8px 20px grey;
  -webkit-transition: box-shadow 0.2s ease-in;
}

.card-img-top {
  width: 100%;
  height: 200px;
}

.card-body {
  padding: 10px !important;
}

.cardstack {
  justify-content: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.title {
  text-align: center;
}

.card-body {
  justify-content: center;
  text-align: center;
}

.description {
  text-decoration: none;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
}
